.Login {
    height: 100%;
	background: #e0e5ec;
    display: grid; 
    box-sizing: border-box;
    /* justify-self: center; */
    justify-content: center;
    text-align: center;


}

.Login .input{
    text-align: center;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-left: 3%;
    padding-right: 2%;
    justify-content: center;
}