.ReportsImplementation {
	width: 60%;
    justify-content: center;
    display: block;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

.ReportsImplementation text {
    font-size: 9px;
}