.ContinentFilter .envelope {
    width: 600px;
    height: 400px;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(auto auto auto);
    border: 1px solid black;
}
.continentGridCell {
    background-color: black;
    grid-column: span 2;
}

.ContinentFilter {
 width: 300px;
 height: 600px;
 background-color: blue;
}
