.Gallery {
	
}



/*=========Popular courses  && Course Listing Page Css======*/
/*==========================
	Course listing Page
===========================*/
.course-listing-page .container, .gallery-section .container {
	padding-top: 4.0625em;
	padding-bottom: 6.25em;
}

.gallery-section2 .container {
	padding-top: 4.0625em;
	padding-bottom: 3.75em;
}

.gallery2 {
	margin-bottom: 4.0625em;
}

/*#gGrid{
	overflow: hidden;
}*/

.course-listing-page .button-group, 
.gallery-section .button-group, 
.gallery-section2 .button-group {
	text-align: center;
	margin-bottom: 4.375em;
	position: relative;
}

.course-listing-page .button-group::after,
.gallery-section .button-group::after,
.gallery-section2 .button-group::after {
	content: "";
	position: absolute;
	border: 0.5px solid #d4d4d4;
	bottom: 0;
	width: 530px;
	left: 27.5%;
}

.course-listing-page .button-group button,
.gallery-section .button-group button,
.gallery-section2 .button-group button{
	/*font-size: 1.4rem;*/
	/*font-family: 'Raleway', sans-serif;*/
	/*color: #000;*/
	background: transparent;
	border: none;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
	position: relative;
}

.course-listing-page .button-group button:hover::after,
.gallery-section .button-group button:hover::after,
.gallery-section2 .button-group button:hover::after{
	content: "";
	position: absolute;
	border: 1px solid #1c3961;
	bottom: 0;
	width: 80%;
	left: 10%;
	z-index: 999;
}




/*=====gallery Images=========*/

.gallery-images-section {
	display: grid;
	grid-template-columns: repeat(4, minmax(200px, 1fr));
	grid-gap: 0;
	width: 100%;
	box-sizing: border-box;
	box-sizing: content-box;
	overflow: hidden;
}

.gallery-section2 .gallery-images-section {
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.gallery-img-wrap {
	height: 200px;
	width: 341px;
	box-sizing: content-box;
	overflow: hidden;
}

.gallery-section2 .gallery-img-wrap {
	width: 337px;
}

.gallery-img-wrap a img {
    -webkit-filter: brightness(100%);
	object-fit: contain;

}

.gallery-img-wrap a img:hover {
    -webkit-filter: brightness(40%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

	/*===========Gallery=========*/
	.gallery-images-section {
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	}
