  .Header a {
	background-color: transparent;
	text-decoration: none;
}
.headerWhiteBuffer {
	height: 25px;
	width: 100%;
	background-color: aliceblue;
}
.container {
	max-width: 1170px;
	/* max-height: 100px; */
	margin-right: auto;
	margin-left: auto;
}

.top-header {
	background: #1c3961;
}
.top-header .container {
	display: flex;
	flex: 1;
	flex-flow: row wrap;
	justify-content: space-between;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}

.top-header .container .top-header-left svg {
	margin-right: 0.9rem;
}

.top-header-left {
	display: flex;
	flex-flow: row wrap;
}

.top-header-block {
	margin-right: 4.5rem;
}

.top-header-right {
	display: flex;
	flex-flow: row wrap;
}

.top-header-right ul, li {
	margin: 0;
	padding: 0;
}

.top-header-right li {
	display: inline-block;

}

.social-block {
	margin-right: 8.5rem;
}

.top-header-right .social-list li {
	margin-right: 0.625em;
	margin-left: 0.625em;
}
/*===========================
RESPONSIVE STYLESHEET
===========================*/

@media screen and (max-width: 1199px) {
	.container {
		max-width: 1000px;
		padding-left: 15px;
		padding-right: 15px;
	}

@media screen and (max-width: 1024px) {
	.container {
		max-width: 800px;
	}
}
	.top-header .top-header-left {
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 2em;
	}

	.top-header .top-header-left .top-header-block:last-child {
		margin-right: 1em;
	}

	.top-header .top-header-right {
		margin-left: auto;
		margin-right: auto;
	}

	.top-header-right .social-block {
		margin-right: 3em;
	}

}

@media screen and (max-width: 767px) {
	.container {
		max-width: 450px;
	}

	.site-header .top-header .container {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-row-gap: 1em;
		font-size: 20px;
	}

	.top-header .top-header-left {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-row-gap: 1em;
		margin-bottom: 0;
	}

	.top-header-left .top-header-block {
		margin: 0;
		margin-bottom: 1em;
	}

	.top-header-right {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-row-gap: 1em;
	}

	.top-header-right .social-block {
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 1em;
	}

	.top-header-right .login-block {
		margin-right: auto;
		margin-left: auto;
	}
}