.HeaderMenuTrial a:visited {
	color: rgb(0, 2, 8);
} 

/* cool! this removes the underline from the active NavLink!!! */
a:-webkit-any-link {
	text-decoration: none;
	color: white;
	cursor: pointer;
  }

  /* .HeaderMenuTrial {
	box-shadow: 0px 5px 4px 0px rgba(0,0,0,0.1); 
 } */