.DestinationFilters {
    margin-top: 20px
}
.DestinationFilters .filterImg {
    width: 12rem;
    cursor: pointer;
}

.DestinationFilters  .articles {
    margin-top: 40px;
    width: 80%;
}

.DestinationFilters  .handlePageChange {
justify-content: center;
display: flex;
}

.DestinationFilters .addingOrnament {
    /* width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(146, 145, 145);
    border-radius: 1.5px; */
    /* border: 2px solid grey; */
}