.DestinationFilters {
    margin-top: 20px
}



.DestinationFilters .filterImg {
    width: 12rem;
    cursor: pointer;
}

.DestinationFilters  .articles {
    margin-top: 40px;
}

.DestinationFilters  .handlePageChange {
justify-content: center;
display: flex;
}