
.AddVacation h3{
  margin-top: 40px;
  line-height: 4;
  font-weight: bold;
  text-decoration: overline;
  }
  
.AddVacation form {
  display: flex;
  flex-direction: column;
}

.AddVacation .input,
.AddVacation .inputDate,
.AddVacation .insideText,
.AddVacation .imageInput {
  width: 300px;
  height: 30px;
}

.AddVacation .insideText {
  height: 100px;
}

.AddVacation .imageInput {
  display: flex;
  justify-content: center;
  align-items: center;
}

.AddVacation label {
  margin-bottom: 5px;
}