html, body {
  background-color: rgb(185, 209, 255);
}
form {
    margin-top: auto;
    margin-bottom: auto;
    display: block;
    animation-name: slideInFromRight;
    animation-duration: 4s;
    position: relative;
    }
    
    @keyframes slideInFromRight {
        0%   { left:500px; top:0px;}
        100%  { left:0px; top:0px;}
      }



html {  /* wichtig !!!!!!!*/
	font-size: 62.5%;
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

.errorSpan{
    color: rgb(231, 7, 67);
    display: block;
    width: 300px;
    /* justify-content: left; */
    text-align: left;
    margin-left: 4%;
    font-size: 12px;
    margin-bottom: 4px;
    /* background-color: pink; */

}
